###Java###
*.class
# Package Files #
*.jar
*.war
*.ear


###NetBeans###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


###Windows###
# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


